body {
    background-color: rgb(107, 142, 236);
    font: normal 13pt Arial;
}

header {
    color: white;
}

section {
    background-color: white;
    border-radius: 10%;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}